@charset "utf-8";

@import "./global.css";

#wrap {
  position: relative;
}

/* 테스트 스타일 */
.mainContainer {
  height: 150vh;
  background-color: aqua;
}

/* 메인영역 스타일 */
#container {
  overflow-x: hidden;
  padding-bottom: 230px;
}

#container .title_area {
  position: relative;
  height: 1082px;
  padding-top: 420px;
  background-attachment: fixed !important;
}

#container .title_area::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 360px;
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.53) 35%, #000000);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.53) 35%, #000000);
}

#container .title_area h3 {
  visibility: hidden;
  overflow: hidden;
  position: fixed;
  top: -999px;
  left: -999px;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 1;
  margin: 0 auto;
}

#container.eagles .title_area {
  background: url('../image/eagles/bg_header_eagles.jpg') no-repeat 50% 60%;
}

#container.eagles .eagles_title {
  margin-bottom: 70px;
  font-size: 60px;
  line-height: 1.13;
  color: #fff;
  font-weight: 700;
}

#container .content_block {
  position: relative;
  width: 1240px;
  padding-top: 160px;
  margin: -230px auto 0;
}

.eagles_content {
  position: relative;
  padding-left: 320px;
  margin-top: 120px;
}

/* 탭메뉴 스타일 */

#container .content_block .tab_menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 1240px;
  height: 80px;
  overflow: auto;
}

#container .content_block .tab_menu::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #707070;
}

#container .content_block .tab_menu::after {
  content: '';
  display: table;
  clear: both;
}

#container .content_block .tab_menu ul {
  float: left;
}

#container .content_block .tab_menu li {
  float: left;
}

#container .content_block .tab_menu li + li {
  margin-left: 34px;
}

#container .content_block .tab_menu a {
  display: block;
  position: relative;
  height: 80px;
  padding: 0 1px;
  border: 2px solid transparent;
  color: rgb(255,255,255, .5);
  font-size: 18px;
  line-height: 80px;
}

#container .content_block .tab_menu li a span, #container .content_block .tab_menu li.active a:before {
  display: block;
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  background: #fff;
}

#container .content_block .tab_menu li.active a:before {
  width: 100% !important;
}

#container .content_block .tab_menu li a:hover, #container .content_block .tab_menu li.active a {
  color: #fff;
}

#container .content_block .tab_menu li a span {
  width: 0;
}

#container .content_block .tab_menu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.7);
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  z-index: 11;
  animation: tabMove .3s linear 1 normal;
  animation-fill-mode: forwards;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

#container .content_block .tab_menu.fixed.on {
  background: #000;
}

#container .content_block .tab_menu.fixed ul {
  float: none;
  width: 100%;
  margin: 0 auto;
}

/* 컨텐츠 왼쪽 영역 */

#container .left_tab {
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
}

#container .left_tab.fixed {
  position: fixed;
  top: 120px;
  left: calc(50% - 620px);
  animation: leftMove .3s linear 1 normal;
  animation-fill-mode: forwards;
}

#container .left_tab li {
  padding: 4px 0;
}

#container .left_tab a {
  color: #808080;
  font-family: 'MyriadPro-Regular', 'HanwhaGothicEL', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

#container .left_tab a:hover {
  color: #fff;
}

#container .left_tab li.active a {
  color: #fff;
}

#container .left_tab.club li.active a {
  font-family: 'HanwhaL', sans-serif;
}

/* 구단소개 */
.eagles_intro .eagles_logo {
  width: 505px;
  height: 336px;
  margin: 0 auto 80px;
}

.eagles_intro .eagles_logo img {
  width: 100%;
}

.eagles_intro .strong {
  display: block;
  margin-bottom: 30px;
  font-family: 'HanwhaGothicT',sans-serif;
  font-weight: normal;
  font-size: 32px;
  line-height: 1.31;
}

.eagles_intro .strong .txt_hanwha {
  font-family: 'HanwhaR', sans-serif;
}

.eagles_intro p {
  color: #808080;
  font-family: 'HanwhaGothicT',sans-serif;
  font-size: 14px;
  line-height: 1.57;
}

.eagles_intro p .txt_hanwha {
  font-family: 'HanwhaL', sans-serif;
}