@charset "utf-8";

/* 고해상도 PC */
@media screen and (max-width:1500px){

}

/* 저해상도 PC */
@media screen and (max-width:1280px) and (min-width:1025px){

}

/* Tablet PC */
@media screen and (max-width:1024px){

}

/* Mobile Device */
@media screen and (max-width:767px) {
    .mobile_only{display:block !important;}
    .pc_only{display:none !important;}
    #container.eagles .right_conts{margin-top:65px;}
    #container.eagles .eagles_content .left_tab{position:relaitve;padding-top:5px;z-index:10;}
    #container.eagles .eagles_content .left_tab .openBtn{display:block;width:100%;height:40px;color:#fff;line-height:40px;padding:0 15px;background:#000 url('../image/eagles/bul_left_menu.png') no-repeat 100% 50%;background-size:auto 20px;border:1px solid #999;}
    #container.eagles .eagles_content .left_tab ul{display:none;position:absolute;top:44px;left:0;width:100%;padding:15px 0;background:#000;border:1px solid #999;}
    #container.eagles .eagles_content .left_tab ul a{display:block;height:32px;line-height:32px;padding:0 15px;}
    #container.eagles .his_wrap ol:before{top:80px;left:4px;height:calc(100% - 80px);}
    #container.eagles .his_wrap ol li{padding:13px 0;}
    #container.eagles .his_wrap ol li > strong{position:static;width:auto;font-size:30px;text-align:left;line-height:36px;padding-left:30px;margin-bottom:15px;}
    #container.eagles .his_wrap ol li > strong:before{display:block;content:'';position:absolute;top:24px;left:0;width:10px;height:10px;background:#fff;border-radius:100%;}
    #container.eagles .his_wrap ol .his_group{padding-left:32px;padding-top:0 !important;}
    #container.eagles .his_wrap ol .his_group:before{display:none;}
    #container.eagles .his_wrap ol .his_group > *:not(img){padding-left:0;}
    #container.eagles .his_wrap ol .his_group span,
    #container.eagles .his_wrap ol .his_group em{opacity:0.7;}
    #container.eagles .his_wrap ol .his_group span{font-size:14px;line-height:22px;}
    #container.eagles .his_wrap ol .his_group em{font-family:'HanwhaGothicT';font-size:14px;line-height:22px;}
    #container.eagles .his_wrap ol .his_group b{font-size:18px;line-height:32px;}
    #container.eagles .his_wrap ol .his_group img{width:100%;margin:20px 0 0;}
    #container.eagles .his_wrap ol .his_group + .his_group{margin-top:25px;}

    /* eagles */
    #container.eagles .eagles_title{display:none;}

    #container.eagles .left_tab{position:relative;width:100%;}

    .eagles_content {position:relative;padding-left:0;margin-top:0;}

    #container.eagles .align_wrap{-webkit-box-lines:multiple;-ms-flex-wrap:wrap;flex-wrap:wrap;}
    #container.eagles .align_wrap .col + .col{margin-left:0;}

    .eagles_intro .symbol_list img { width: 80%; margin: 0 auto; }

    #container.eagles .his_wrap ol li.tit_area{padding-top:75px;}
    #container.eagles .his_wrap ol li.tit_area > strong{position:absolute;left:calc(50% - 100px);width:200px;font-size:70px;text-align:center;padding-left:0;}
    #container.eagles .his_wrap ol li.tit_area > strong:before{display:none;}
    #container.eagles .his_wrap ol li.tit_area > strong:after{display:inline-block;position:static;margin-left:-7px;}
    #container.eagles .his_wrap ol li.tit_area .his_group{padding-left:0;}
    #container.eagles .his_wrap ol li.tit_area .his_group em,
    #container.eagles .his_wrap ol li.tit_area .his_group span{left:0;width:100%;text-align:center;}
    #container.eagles .his_wrap ol li.tit_area .his_group em{top:-20px;font-size:32px;line-height:37px;padding:0 10px;opacity:1;}
    #container.eagles .his_wrap ol li.tit_area .his_group span{top:43px;padding:0 20px;}
    #container.eagles .his_wrap ol li.tit_area .his_group span.mline{top:63px;}
    #container.eagles .his_wrap ol li.tit_area .his_group br{display:none;}

    #container.eagles .his_wrap ol li.point > strong{font-size:36px;}
    #container.eagles .his_wrap ol li.point > strong:before{background:#f37321;}
    #container.eagles .his_wrap ol li.point .point em{font-family:'HanwhaGothicR';font-size:16px;opacity:1;}

    #container.eagles .tab_cont{margin-top:-10px;}
    #container.eagles .tab_cont dl dt{height:auto;padding-bottom:5px;}
    #container.eagles .tab_cont dl dt a{font-size:14px;}
    #container.eagles .tab_cont dl dd .head_box > *{text-align:center;}
    #container.eagles .tab_cont dl dd .head_box .img{float:none;background-size:100% auto;}
    #container.eagles .tab_cont dl dd .head_box strong{font-size:34px;padding-top:15px;}
    #container.eagles .tab_cont dl dd .head_box em{font-size:22px;line-height:30px;margin-top:0;}
    #container.eagles .tab_cont dl dd .head_box em br{display:none;}
    #container.eagles .tab_cont dl dd .head_box span{margin-top:15px;}
    #container.eagles .tab_cont dl dd .head_box span br{display:none;}
    #container.eagles .tab_cont dl dd ul{text-align:left;margin-top:30px;}
    #container.eagles .tab_cont dl dd ul li{width:50%;text-align:center;}
    #container.eagles .tab_cont dl dd ul li span{font-size:39px;}
    #container.eagles .tab_cont dl dd ul li strong{font-size:16px;}

    #container.eagles .his_wrap .tab_cont ol li{padding-left:0;}
    #container.eagles .his_wrap .tab_cont ol:before{left:4px;height:calc(100% - 100px);}
    #container.eagles .his_wrap .tab_cont dl:nth-child(2) ol:before{height:calc(100% - 70px);}
    #container.eagles .his_wrap .tab_cont ol .no_group {margin-top: -95px;}
    #container.eagles .tab_cont dl dd .desc{margin-top:80px;}
    #container.eagles .tab_cont dl dd .point{font-size:18px;line-height:30px;}
    #container.eagles .tab_cont dl dd .express{font-size:22px;line-height:33px;}

    #container.eagles .eagles_intro .ci_wrap .tit { font-size: 16px; margin-top: 80px; }

    #container.eagles .eagles_intro .symbol_list { margin-top: 40px; }
    #container.eagles .eagles_intro .symbol_list ul { flex-direction: column; }
    #container.eagles .eagles_intro .symbol_list li + li { margin: 20px 0 0; }

    #container.eagles .eagles_intro .btn_area .btn_com + .btn_com { margin: 10px 0 0 0; }
}
