body{
    font-size: 100%;
    line-height: 1;
    word-break: break-all;
    word-break: keep-all;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
    background: #191919;
}

.title_area {
    height: 1080px;
    background: url(https://www.hanwhaeagles.co.kr/images/pages/game/bg_header_game.jpg) no-repeat 50% 50%;
    background-attachment: fixed !important;
}



.navbar {
    background-color: rgba(0, 0, 0,1) !important;
    color: white !important;
    padding-top: 3%;
    padding-bottom: 3%;
}

.navbar:hover {
    color: rgba(0, 0, 0, 1) !important;
}

nav ul li a {
    padding: 18px;
    text-transform:uppercase;
    color: white !important;
    font-size: 18px;
    text-decoration: none;
    display: block;
    }

span li a {
    color: white !important;
}

span li span {
    color: white !important;
}

.dropdown-item {
    color: black !important;
}

nav ul li a:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 1px rgba(255, 255, 255, 0.3);
        }
    
li {
    list-style: none;
}

.navbar-text {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.ml-5 {
    margin-right: 20px;
}

.ml-5:hover {
    color: white;
}

a:hover{
    color: #f37321 !important;
}

a span:hover {
    color: white ;
}

footer{
    position: relative;
    height: 230px;
    font-family: 'HanwhaGothicT', 'Dotum', '돋움', sans-serif;
    padding: 40px 40px 40px 90px;
    background: #000;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    z-index: 1;
}

footer .topBtn {
    display: block;
    position: absolute;
    top: 40px;
    right: 60px;
    height: 20px;
    font-family: 'HanwhaR';
    font-size: 15px;
    line-height: 20px;
    padding-left: 25px;
    background: url(https://www.hanwhaeagles.co.kr/images/common/btn_top.png) no-repeat 0 50%;
    background-size: 20px 20px;
}

.topBtn {
    text-decoration: none;
    color: white;
}

.topBtn:hover {
    color:rgba(0, 0, 0, 0.3);
}

footer .copyright {
    position: absolute;
    bottom: 40px;
    right: 59px;
    font-family: 'MyriadPro-Regular', sans-serif;
    font-size: 16px;
    color: #888;
}

*:not(hr) {
    margin: 0;
    padding: 0;
    vertical-align: top;
    border: 0;
    outline-color: orange;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 767px) {
    footer .copyright {
        bottom: auto;
        top: 250px;
        right: auto;
        width: auto;
        font-size: 12px;
        text-align: left;
        padding-bottom: 25px;
    }
}