/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section, picture, source {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
img {
	vertical-align: bottom;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
.hidden {
	overflow: hidden;
	display: inline-block;
	position: absolute;
	z-index: -1;
	border: 0;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
}
#skip {
	position: relative;
	z-index: 99;
}
#skip > a {
	position: absolute;
	display: block;
	width: 100%;
	height: 35px;
	background: #333;
	color: #fff;
	line-height: 35px;
	text-align: center;
	left: 0;
	top: -35px;
}
#skip > a:focus, 
#skip > a:active {
	top: 0;
}

input[type="text"], button, select {	
	outline: none;
}

input, button, select, textarea {
	font-family: inherit;
	/* inherit 내 부모의 폰트를 상속 받겠다 */
}

button {
	cursor: pointer;
	border: none;
	padding: 0;
	background-color: transparent;
}


/* ios대응 */
html {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	/* text크기를 자동으로 조절하지 말아라 */
}
input, button {
	/*-webkit-appearance: none;
	-moz-appearance: none;*/
	appearance: auto;
	-webkit-border-radius:  0;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
/*	background: url('../reset/select-arrow.png') no-repeat 99% 45%;*/

}

select::-ms-expand {
	display: none; 
	/* 화살표없애기 for ie10, 11 */
}


/* swiper-slide */
/* 
	swiper-slide border-radius ios 적용 안됬을 때  
	swiper-slide { border-radius: 16px; overflow: hidden; }
*/
.swiper-slide {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translated3d(0,0,0,);
}